@charset "utf-8";
/* CSS Document */
*{ scroll-behavior: smooth}


.custom-hr {
    border: none;          /* Xóa border mặc định */
    border-top: 3px solid rgba(255,255,255,1.00);  /* Đặt độ dày cho đường kẻ */
	border-radius: 3px
}
/* Tạo hiệu ứng tùy chỉnh có khoảng dừng */
    @keyframes bounceWithPause {
      0%, 20%, 50%, 80%, 100% { transform: translateY(0); }
      40% { transform: translateY(-30px); }
      60% { transform: translateY(-15px); }
    }

    .animate-bounce-pause {
      animation: bounceWithPause 2s ease infinite;
      animation-delay: 1s; /* Thêm khoảng dừng trước khi bắt đầu */
      animation-iteration-count: infinite;
    }
 .image-container .overlay {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: rgba(0, 0, 0, 0.5); /* Màu đen với độ mờ 50% */
      opacity: 1; /* Hiện lớp phủ ngay từ đầu */
    }

.bg-caption{
      background-image: url(  "../images/06205fee4cde71c024012abe1cac9de6.jpg") !important;
    background-size: cover;
    background-position: center;
	/*width: 1480px; height: 735px*/
    }
.border-custom {
  /*border: 2px solid #ccc; *//* Màu và độ dày của đường viền */
  border-radius: 15px; /* Nếu muốn giữ góc bo tròn nhẹ */
}
.bg-blur{
      background: linear-gradient(to right, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.5) 50%, rgba(255, 255, 255, 0.8) 100%);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px); /* Cho các trình duyệt WebKit */
}
/* Thay đổi nền khi cuộn trang */
   .scrolled {
      background-color: rgba(0, 0, 0, 1); /* Nền đen khi cuộn */
    }
.navbar {
  background: transparent;
  transition: background-color 0.3s ease;
}

.navbar.scrolled {
  background: black;
}
.gradient-text {
            
            font-weight: bold;
            background: linear-gradient(90deg,  #105dab, #224060);
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
}
	